server:
    port: 8000
    servlet:
        encoding:
            charset: UTF-8

logging:
    level:
        jdbc:
            sqlonly: off
            sqltiming: info
            resultsettable: info
            audit: off
            resultset: off
            connection: off
        org:
            springframework: INFO

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3307/mybatis?allowPublicKeyRetrieval=true&characterEncoding=UTF-8
        username: root
        password: 123456
    sql:
        init:
            mode: always
            schema-locations: classpath:database/schema-mysql.sql
            data-locations: classpath:database/data-mysql.sql
            
mybatis:
    mapper-locations:
    - classpath:mapper/**/*.xml

    configuration:
        map-underscore-to-camel-case: true
        jdbc-type-for-null: NULL