<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boardapp.boardapi.board.mapper.master.MasterDatabaseBoardMapper">
    <insert id="saveBoard" parameterType="Board">
        INSERT
        INTO board(
            board_title,
            board_contents,
            write_id,
            write_date
        ) VALUES (
            #{boardObj.boardTitle},
            #{boardObj.boardContents},
            #{boardObj.writeId},
            #{boardObj.writeDate}
        )
    </insert>

    <update id="updateBoard" parameterType="Board">
        UPDATE board
        SET board_title = #{boardObj.boardTitle},
            board_contents = #{boardObj.boardContents},
            modify_id = #{boardObj.modifyId},
            modify_date = #{boardObj.modifyDate}
        WHERE board_id = #{id}
    </update>

    <delete id="deleteBoard">
        DELETE
        FROM board
        WHERE board_id = #{id}
    </delete>
</mapper>
    